.user-form {
  text-align: left;
}

.user-form label {
  display: block;
  font-weight: bold;
}

.user-form input {
  width: 100%;
}

.user-form button {
  color: white;
  padding: .5em 1.5em;
  background-color: rgb(90, 27, 141);
  border-radius: 5px;
}