.modal {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(122, 134, 146, .6);
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.modal.visible {
  /* display: block; */
  display: flex;
}

.modal-body {
  width: 60%;
  margin: auto;
  border-radius: 5px;
  text-align: left;
  background-color: white;
}

.modal-body h2 {
  color: white;
  background-color: rgb(90, 27, 141);
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  margin: 0;
  padding: .2em .6em;
}

.modal-body p {
  margin: 0;
  padding: .5em 1.5em;
  text-align: justify;
}

.modal-body button {
  color: white;
  padding: .5em 1.5em;
  background-color: rgb(90, 27, 141);
  border-radius: 5px;
  margin: .5em 1.5em;
}